<html>
  <head>
    <title>ejs_sample</title>
    <style type="text/css">
      .div_block { width: 300px; display: inline-block;
                   margin: 5px; border: 1px solid #555; }
      .div_header { background-color: #CCC; padding: 10px; }
      img { object-fit: cover; width: 300px; height: 160px; }
      p { padding: 5px; }
    </style>
  </head>
  <body>

    <%# ここを埋めてください %>
    
  </body>
</html>